.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* // Material UI breakpoints
// value         |0px     600px    960px    1280px   1920px
// key           |xs      sm       md       lg       xl
// screen width  |--------|--------|--------|--------|-------->
// range         |   xs   |   sm   |   md   |   lg   |   xl */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper {
  flex: 1;
  /* margin: 5rem 0; */
  /* margin: 10rem auto  5.5rem auto; */
/* height: 100vh; */
min-height: 100vh; 
  /* display: block; */
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
  /* padding-bottom: 10rem; */
  /* position: relative; */
  /* border: 5px solid saddlebrown; */
 
}
@media only screen and (max-width: 600px) {
  .wrapper{
    margin: 41px 0;
    /* min-height: 50vh;  */
  }
}
.logo {
  background-color: gray;
  height: 250px;;
  border-radius: 50%;
  width: 15%;
  text-align: center;
  margin: 0 auto 0 auto;
  border: 1px solid pink;
}
